body {
  text-align: center;
  font-family: 'Baloo Da 2', cursive;
  background-color: #87ceeb;
}

footer {
  position: absolute;
  bottom:0px;
  left: 50%;
  transform: translate(-50%, -50%);
}






h1 {

  margin-left: 10%;
  display:inline-block;
  font-size: 35px;

}

#start_h {
  margin-left:0;
}

#start_h2 {
  font-size:30px;
  position: relative;
  top: 30px;
}



.exp {
  font-size: 25px;
  position: relative;
  left: 10%;
  top:30px;
  height:40px;
  background-color:#FAF0AF;
  width:80%;
  height:auto;
  border-radius: 10px;
  margin:30px 0;
}

h2 {
  font-size: 45px;
  position: relative;
  bottom: 60px;
}

ul {
  /* display:inline-block; */
  text-align: left;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  font-size: 25px;
  font-weight:lighter;

}





form {
  text-align:center;
}

.start_game {
  font-size: 20px;
  position: static;
  bottom: 30px;
  width: 50%;

  font-family: 'Baloo Da 2', cursive;
}

#selfChose {
  font-size: 25px;
}

#start_random {
  font-size: 22px;
  position: relative;
  bottom: 80px;
}

#start {
  font-size:25px;
  position: relative;
  bottom: 20px;
  border-radius:15px;
  width: 250px;
  background-color: #383e56;
}

#start:hover {
  background-color:white;
}

.example_b {
  color: white !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #6886c5;
  /* #60a3bc; */
  padding: 10px;
  border-radius: 30px;
  display: inline-block;
  border-style: solid;
  border-color:white;
  border-width:medium;

  transition: all 0.4s ease 0s;
}

.example_b:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

/* game.html */

.hide {
  display:none;
}



.example_e {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px 30px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.example_e:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 1px;
  background: white;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

.invisible {
 visibility:hidden;
}



#select_type {
  font-size: 10px;
  display:inline-block;
  position: relative;
  right: 13%;
  bottom: 30px;

}

.hid {
  visibility: hidden;
}

#trivia_title {
  position:relative;
  right: 15%;
  bottom: 20px;
}

.middle_title {
  margin:20px 0;
}




#question {

  font-size: 25px;
  background-color: #FAF0AF ;
  border-radius:20px;
  width:100%;
  height:auto;
  padding-bottom: 5%;
}


.answer_class {
  visibility: hidden;
}

.surround {
 position: static;
 /* bottom: 18%;
 left:50%;
 transform: translate(-50%,-50%); */
 border-radius: 20px;
 background-color: #FAF0AF ;
 width:75%;
 height: 10%;
}

#answer {
  font-style:normal;
  border: 20px 0;

}


#answer_area {

  position:static;
  /* bottom:40%;
  left: 50%;
  transform: translate(-50%,0); */
  width:100%;
}

#correctness {
  position:relative;
  text-align:center;
  font-weight:bold;
  margin:10px 30px;

  background-color:#FAF0AF;
  border-radius:20px;
}

input {
  background-color:white;

  border-radius: 20px;
  border-color: black;
  width: 50vw;
  text-align:center;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  -webkit-appearance: none;
  border: 1px solid transparent;
  position:relative;
  right: 30px;
  font-size: 15px;
}

#submit {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  -webkit-appearance: none;
  border: 1px solid transparent;


  border-radius: 20px;
  border-color: black;
  background-color: white;
  font-size: 10px;
  font-weight:bold;
  position:relative;



}

#submit:hover {
  background-color:grey;
  color: white;
}

#show {
  position:relative;
  top: 10vw;
}

.example_a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.example_a:hover {
  color: white;
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

/* #btnNext {
  position: absolute;
  bottom: 20vw;
  left: 50%;
  transform: translate(-50%, 0);
} */





#btnNext{
  position: static;
  /* bottom: 20vw;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: inline;
  width: 250px;
  height: 50px;
  line-height: 40px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
  border-radius:20px;

}


#btnNext:hover{
  width: 200px;
  border-radius:20px;
  background: transparent;
  color: black;
}

/* popup */

.select_score {
  display:inline-block;
  font-size: 20px;
  line-height:10px;
  width:40%;
  height:40px;
  position:relative;
  margin: 20px 8px;
  padding: 10px 0;
  border-radius: 20px;


}

.default {
  border-style:solid;
  border-color:white;
  border-width:medium;
  background-color: #FAF0AF ;
}


.default:hover {

  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  background-color: #FAF0AF;

  border-color:black;

}

.clicked_select {
  background-color: #96bb7c;
  border-style:solid;
  border-color: black;
  border-width: thin;
}

.popup {
  display: none;
}

.menu {
  text-align:center;
  position: relative;
  bottom: 30px;
}

@media (min-width:1300px) and (min-height:600px) and (orientation:landscape){
  #select_type {
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius: 15px;

    display:block;
    position: absolute;
    top:20px;
    left:30px;
    padding:0;
    margin:0;

  }

  body {
    text-align:center;
  }

  #trivia_title {
    position: static;
    left: 0;
    margin:0;
    padding:0;
    font-size:40px;


  }

  #content {
    position:relative;
    top: 100px;
  }

  #answer_area {
    height: 30%;
    position: static;
    top: 40%;
    text-align: center;
    margin-top:10%;


  }

  #btnNext {
    position: relative;
    bottom: 10%;

  }

  #surround {
    position: static;
    margin: 3% auto;

  }

  #show {
    position: static;
    width: 20%;
    height:10%;
    border-radius: 20px;
    font-size: 20px;
    line-height: 15px;
    margin-top: 5%;

  }

  #question {
    width:75%;
    position:static;
    margin: auto;
  }

  #user_input {
    display: inline;
    font-size: 30px;
    left:0;
    width:75%;

  }
  #correctness {
    width:60%;

    font-size: 1.5vw;
    margin:auto;
    margin-bottom:20px;
  }

  #submit {
    display:block;
    position: static;
    margin: auto;
    width: 20%;
    height: 60px;
    margin-top: 30px;
    font-size:20px;
  }
}

@media (max-width: 1200px) and (orientation:landscape) {

  #select_type {
    font-size: 2vw;
    font-weight: bold;
    width: 20%;
    height: 10vh;
    border-radius: 15px;

    display:block;
    position: absolute;
    top:20px;
    left:30px;
    padding:0;
    margin:0;

  }

  #trivia_title {
    position: static;
    margin: 25px auto;
  }

  #btnNext {
    position: static;
    margin: 5% auto;
  }

  #surround {
    position: static;
    margin: 10px auto;
    height: 40px;
  }

 #correctness {
   position: static;
   margin-top : 50px;
 }

  #answer {
    position: static;
    margin:auto;

  }

  #submit {
    position: static;
    margin:auto;

  }

  #user_input {
    position: static;
    margin:auto;
  }

  #show {
    position: static;
    margin:20px auto;
  }

  #question {
    position:static;
    margin:auto;

  }
}

@media (min-height:700px) and (orientation: portrait) {

  /* index.html */

  body {
    text-align:center;
  }

  #start_h {
    font-size: 7vw;
  }

  #start_h2 {
    font-size: 5vw;
  }

  #difficulty {
    font-size: 6vw;
  }

  .select_score {
    font-size: 4vw;
    font-weight:bold;
    height: 4vh;
  }

  .exp {
    font-size: 4vw;
  }

  #selfChose{
    font-size: 30px;
    width: 30%;
    height: 10vw;
  }

  #start_random {
    font-size: 30px;
    width: 40%;
    height:10vw;
    margin: 5%;
  }

  #start {
    width: 25%;
    height: 7vh;
    font-size: 4vw;
    font-weight:bold;
  }

  #or {
    position: relative;

  }
    #question {
      font-size:6vw;
    }

    #trivia_title {
      font-size:7vw;
      position: static;
      left: 0;
      margin:30px;
      padding:0;
    }


        #answer_area {

          position: static;
          left:0;
          text-align:center;
          padding-top:100px;

        }

    #user_input {
      border-radius: 50px;
      position:static;
      left:0;
      font-size:4vw;
      padding: 3%;

    }

    #submit {
      border-width: 0px;
      border-radius:50px;
      position:static;
      left:0;
      font-size:4vw;
      padding: 3%;

      text-align:center;

    }

    #show {
      position: static;
      font-size: 4vw;
      width:30%;
      margin-top: 40px;
    }

    #show:hover{
      width:30%;
    }

    #answer {
      font-size: 5vw;
    }

    #btnNext {
      position:static;
      font-size: 4vw;
      width: 40%;
      height: 7vh;

      border-radius:40px;
      margin-top:50px;
    }

    #btnNext:hover {
      position: static;
      width:40%;

    }

    #select_type {
      font-size: 3vw;
      font-weight: bold;
      width: 20%;
      height: 7vh;
      border-radius: 15px;

      display:block;
      position: absolute;
      top:20px;
      left:30px;
      padding:0;
      margin:0;

    }

    #correctness {
      font-size: 5vw;

    }


    #surround {
      position: static;
      margin: auto;
    }
}
